@media screen and (max-width:1000px) {
    #desktop-nav{
        display: none;
    }
    .menu_icons {
      display: none;
    }
    .profile_bg{
      display: none;
    }
    #hamburger-nav{
        display: flex;
    }
}

@media screen and (max-width: 1400px) {
    #profile {
      height: auto;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }
  
  @media screen and (max-width: 1200px) {
    #desktop-nav {
      display: none;
    }
    #hamburger-nav {
      display: flex;
    }
    #experience,
    .experience-details-container {
      margin-top: 2rem;
    }
    #profile,
    .section-container {
      display: block;
    }
    #profile{
      height: auto;
    }
    .arrow {
      display: none;
    }
    section,
    .section-container {
      height: fit-content;
    }
    section {
      margin: 0 5%;
    }
    .profile_pic_container {
      width: auto;
      height: 60vw;
      margin: 0 auto 2rem;
    }
    .profile_pic_container img{
      width: auto;
      height: 60vw;
    }
    .profile_container{
      flex-direction: column;
    }
    .about-containers {
      margin-top: 0;
      align-items: center;
      justify-content: center;
    }
  }
  
  @media screen and (max-width: 600px) {
    #contact,
    footer {
      height: 40vh;
    }
    #profile {
      height: auto;
      margin-bottom: 0;
    }
    article {
      font-size: 1rem;
    }
    footer nav {
      height: fit-content;
      margin-bottom: 2rem;
    }
    .about-containers,
    .contact-info-upper-container,
    .btn-container {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    .contact-info-container {
      margin: 0;
    }
    .contact-info-container p,
    .nav-links li a {
      font-size: 1rem;
    }
    .experience-sub-title {
      font-size: 1.25rem;
    }
    .logo {
      font-size: 1.5rem;
    }
    .nav-links {
      flex-direction: column;
      gap: 0.5rem;
      text-align: center;
    }
    .profile_pic_container {
      width: auto;
      height: auto;
    }
    .profile_pic_container img {
      width: 50vw;
      height: 60vw;
    }
    .profile_container{
      flex-direction: column;
    }
    .section_text_p2 {
      font-size: 1.25rem;
    }
    .title {
      font-size: 2rem;
    }
    .text-container {
      text-align: justify;
    }
  }
  